PopularMoviesS1/.idea/compiler.xml
PopularMoviesS1/.idea/copyright/profiles_settings.xml
PopularMoviesS1/.idea/encodings.xml
PopularMoviesS1/.idea/gradle.xml
PopularMoviesS1/.idea/misc.xml
PopularMoviesS1/.idea/modules.xml
PopularMoviesS1/.idea/runConfigurations.xml
PopularMoviesS1/.idea/scopes/scope_settings.xml
PopularMoviesS1/.idea/vcs.xml
PopularMoviesS1/app/app.iml
PopularMoviesS1/app/proguard-rules.pro
PopularMoviesS1/app/app.iml
PopularMoviesS1/app/hs_err_pid3688.log
PopularMoviesS1/gradle.properties
PopularMoviesS1/gradle/wrapper/gradle-wrapper.properties
PopularMoviesS1/gradlew
*.bat
PopularMoviesS1/PopularMoviesS1.iml